
body{
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    }

h1{
    color: black;
    background-color: gray;
    text-transform: uppercase;
    }

p {
    background-color: black;
    color: white;
    border-radius: 3px;
    }


im{
    display: block;
    margin: auto;
    border-radius: 10px;
    }

a {
    color: skyblue;
    text-decoration: solid;
    }

a:hover {
    text-decoration: underline;
    }

ul,ol {
        background-color: gray;
        padding: 20px;
        border-radius: 10px;
        margin-left: 10px;
    }

th {
    background-color: rgb(216, 237, 100);
    color: black;
    }

tr {
    background-color: gray;
    color: black;
    }

form {
    background-color: darkgrey;
    color: black;
    padding: 10px;
    border-radius: 2px;
    width: auto;
    margin: auto;
    }

input[type="text"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: brown;
    }

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
    margin: auto;
    }

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    height: auto;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    }

input[type="submit"]:hover {
    background-color: gray;
    }

hr {
    margin: 10px;
    }
